{{!-- Ejercicio para la Segunda Pre Entrega --}}

{{!-- Aca tenes que recibir el array con los productos --}}

<div>
    {{#each productos}}
        <p> {{this.nombre}} </p>
        <p> {{this.description}} </p>
        <p> {{this.precio}} </p>
    {{/each}}
</div>