<h1> Hola Mundo, estoy en el motor de plantillas </h1>

{{!-- Aca debemos importar socket.io --}}

<h2> Lista de Usuarios </h2>
<ul id="lista-usuarios"></ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
<script src="js/main.js"></script>